# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
*.ipynb_checkpoints

# zip files
*.zip

# folders
__pycache__
input/
notebooks/
models/
test-images/
folds/
.comments/

